body {
    background-color: black;
    color: white;
}

.container {
    text-align: center;
}

#gedung-sate {
    width: 400px;
    height: 400px;
}

.navigation p {
    color: white;
    text-decoration: none;
    font-weight: 600;
}